html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* GRID STYLING */
.container {
    width: 50vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.cell {
    border: 1px solid rgb(42, 41, 43);
}

.change-color {
    background-color: #000;
}