html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

body {
    padding: 5vh 0;
    height: 100vh;
    background-color: #f5f8fa;
}

button {
    border-radius: 8px;
    padding: 12px;
    font-weight: 700;
    width: 21%;
    border-width: 3px;
    border-style: outset;
}

/* GRID STYLING */
.container {
    width: 35vw;
    height: 65vh;
    margin: 0 auto 32px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

.grid-lines {
    display: flex;
    gap: 8px;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    flex: wrap;
}

.grid-lines button {
    background-color: #60a0ff;
    color: #163c58;
    border-color: #60a0ff;
}

.clear-grid {
    background-color: #ffdf60;
    color: #451A03;
    border-color: #ffdf60;
}

.greyscale {
    background-color: #fc8181;
    color: #7F1D1D;
    border-color: #fc8181;
}

.colors {
    background-color: #fc8181;
    color: #7F1D1D;
    border-color: #fc8181;
}

.new-grid {
    background-color: #ffdf60;
    color: #451A03;
    border-color: #ffdf60;
}

/* BEZEL STYLING */
.bezel {
    width: 35vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 2vh auto 7vh;
}

.bezel h1 {
    margin: 0;
    color: #818183;
}

.bezel .buttons {
    display: flex;
    gap: 8px;
    width: 32vw;
    justify-content: space-between;
    flex: wrap;
}

#none {
    border-style: none;
}

#solid {
    border-style: solid;
    border-color: #28618d;
}

#dotted {
    border-style: dotted;
    border-color: #28618d;
}

#dashed {
    border-style: dashed;
    border-color: #28618d;
}
